body {
	font-family: 'Lato', sans-serif;
	color: #092309;
	font-weight: 300;
}
.title-text {
	font-weight: 100;
	font-size: 60px;
}
.top-rule {
	border-top: solid 4px;
	color: #4a9c2b;
}
.section-featured {
	color: #5CC086;
}